$hover-file-color: red;
$hover-folder-color: red;
$file-color: blue;
$folder-color: blue;

.file,
.folder {
  padding-left: 1rem;
  .folder-name,
  .file-name {
    width: 100%;
    display: block;
    cursor: pointer;
  }
  .file-name {
    background-color: $file-color;
  }

  .folder-name {
    background-color: $folder-color;
  }
}

.folder {
  .folder-name:hover {
    background-color: $hover-folder-color;
  }
}

.file {
  .file-name:hover {
    background-color: $hover-file-color;
  }
}

.top {
  padding-left: 0;
}

.explorer {
  background-color: rgb(100, 100, 100);
  min-width: 8rem;
}
