$nav-color: darkgrey;
$border-color: black;
$menu-bar-zindex: 1;

nav {
  background-color: $nav-color;
  display: flex;
  flex-direction: row;
  max-height: 1.5rem;
  min-height: 1.5rem;

  .btn,
  .logo {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    border: 2px;
    border-style: solid;
    border-radius: 5px;
    border-color: $nav-color;
    overflow: inherit;
  }

  .btn:hover {
    border-color: $border-color;
    border-style: solid;
    cursor: pointer;
  }
  .logo:hover {
    cursor: default;
  }
}

.filemenu {
  background-color: red;
  position: absolute;
  z-index: menu-bar-zindex;
  p {
    margin: 0;
    padding: 0;
  }

  p:hover {
    background-color: blue;
    cursor: pointer;
  }
}
