$nav-color: darkgrey;
$border-color: black;

nav {
  background-color: $nav-color;
  display: flex;
  flex-direction: row;

  .btn,
  .logo {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    border: 2px;
    border-style: solid;
    border-radius: 5px;
    border-color: $nav-color;
  }

  .btn:hover {
    border-color: $border-color;
    border-style: solid;
    cursor: pointer;
  }
  .logo:hover {
    cursor: default;
  }
}
