.link {
    stroke: #999;
    stroke-opacity: 0.6;
    stroke-width: 1.5px;
    fill: none;
}

.node circle {
    fill: steelblue;
    stroke: #fff;
    stroke-width: 1.5px;
}

.node text {
    font-size: 10px;
    font-family: sans-serif;
}